{% extends 'base.html' %}

{% block content %}
<body>
    <h1>Ajout du patient et son premier test</h1>

    <form method="post" action="{% url 'add_patient_and_test' %}">
        {% csrf_token %}

        <!-- Patient Information Form -->
        <fieldset>
            <legend>Patient Information</legend>
            {{ patient_form.as_p }}
        </fieldset>

        <hr>

        <!-- Test Information Form -->
        <fieldset>
            <legend>Test Information</legend>
            {{ test_form.as_p }}
        </fieldset>

        <hr>

        <button type="submit">Ajouter le patient et son premier test</button>
    </form>
</body>
{% endblock %}
