<!-- templates/registration/password_reset_email.html -->
{% autoescape off %}
Bonjour,

Vous recevez cet email parce que vous avez demandé la réinitialisation du mot de passe pour votre compte.
Veuillez suivre le lien ci-dessous pour réinitialiser votre mot de passe :

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Ce lien est valide pour 48 heures.

Si vous n'avez pas demandé la réinitialisation, veuillez ignorer cet email et votre mot de passe restera inchangé.

Merci,
{{ site_name }}
{% endautoescape %}
