<!-- read_test.html -->
{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h1 class="text-center">Résultat du Test</h1>
    <div class="card mt-4">
        <div class="card-header">
            <h2>Informations sur le Test</h2>
        </div>
        <div class="card-body">
            <p><strong>Numéro de Série du Kit :</strong> {{ test.serial_number }}</p>
            <p><strong>Date du Test :</strong> {{ test.test_date }}</p>
            <p><strong>Date de l'Échantillon Bio :</strong> {{ test.bio_sample_date }}</p>
            <p><strong>BKv Peptide Activation :</strong> {{ test.BKv_peptide_activation }}</p>
            <p><strong>BKv Background :</strong> {{ test.BKv_background }}</p>
            <p><strong>Date de l'Échantillon Immuno :</strong> {{ test.immuno_sample_date }}</p>
            <p><strong>BK Viral Load :</strong> {{ test.BK_viral_load }}</p>
            <p><strong>Power Field :</strong> {{ test.power_field }}</p>
            <p><strong>Date de l'Échantillon Génétique :</strong> {{ test.gen_sample_date }}</p>
            <p><strong>Mismatch Number :</strong> {{ test.mismatch_number }}</p>
        </div>
        <div class="card-footer text-center">
            <a href="{% url 'download_test_pdf' test.id %}" class="btn btn-secondary">Télécharger PDF</a>
            <a href="{% url 'edit_test' test.id %}" class="btn btn-info">Modifier</a>
            <a href="{% url 'delete_test' test.id %}" class="btn btn-danger">Supprimer</a>
        </div>
    </div>
</div>


{% endblock %}
